<!-- ordered from recent to older. min_temp_array[0] is last year.
Some years have nils for unavailable data from the first API. We
need to generate API keys to get info from the second one ASAP if
we want more than 6 years.
 -->


<%% min_temp_array = splitToNumArray(min_temp) %>
<%% mean_temp_array = splitToNumArray(mean_temp) %>
<%% max_temp_array = splitToNumArray(max_temp) %>
<%% min_wind_array = splitToNumArray(min_wind) %>
<%% mean_wind_array = splitToNumArray(mean_wind) %>
<%% max_wind_array = splitToNumArray(max_wind) %>
<%% cloud_cover_array = splitToNumArray(cloud_cover) %>
<%% humidity_array = splitToNumArray(humidity) %>
<%% precip_array = splitToNumArray(precipitation) %>

<h1>min temp array: <%%= min_temp_array %></h1>
<h1>mean temp array: <%%= mean_temp_array %></h1>
<h1>max temp array: <%%= max_temp_array %></h1>
<h1>min wind array: <%%= min_wind_array %></h1>
<h1>min wind array: <%%= mean_wind_array %></h1>
<h1>min wind array: <%%= max_wind_array %></h1>
<h1>cloud cover array: <%%= cloud_cover_array %></h1>
<h1>humidity array: <%%= humidity_array %></h1>
<h1>precipiation array: <%%= precip_array %></h1>


