<h3>Listing footballs</h3>
<style>

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.box {
  font: 10px sans-serif;
}

.box line,
.box rect,
.box circle {
  fill: #fff;
  stroke: #000;
  stroke-width: 1.5px;
}

.box .center {
  stroke-dasharray: 3,3;
}

.box .outlier {
  fill: none;
  stroke: #ccc;
}

</style>

<body>
<script src="http://d3js.org/d3.v3.min.js"></script>
<script src="box.js"></script>
<script>

var margin = {top: 10, right: 50, bottom: 20, left: 50},
    width = 120 - margin.left - margin.right,
    height = 500 - margin.top - margin.bottom;

var min = Infinity,
    max = -Infinity;

var chart = d3.box()
    .whiskers(iqr(1.5))
    .width(width)
    .height(height);

d3.csv("morley.csv", function(error, csv) {
  var data = [];

  csv.forEach(function(x) {
    var e = Math.floor(x.Expt - 1),
        r = Math.floor(x.Run - 1),
        s = Math.floor(x.Speed),
        d = data[e];
    if (!d) d = data[e] = [s];
    else d.push(s);
    if (s > max) max = s;
    if (s < min) min = s;
  });

  chart.domain([min, max]);

  var svg = d3.select("body").selectAll("svg")
      .data(data)
    .enter().append("svg")
      .attr("class", "box")
      .attr("width", width + margin.left + margin.right)
      .attr("height", height + margin.bottom + margin.top)
    .append("g")
      .attr("transform", "translate(" + margin.left + "," + margin.top + ")")
      .call(chart);

  setInterval(function() {
    svg.datum(randomize).call(chart.duration(1000));
  }, 2000);
});

function randomize(d) {
  if (!d.randomizer) d.randomizer = randomizer(d);
  return d.map(d.randomizer);
}

function randomizer(d) {
  var k = d3.max(d) * .02;
  return function(d) {
    return Math.max(min, Math.min(max, d + k * (Math.random() - .5)));
  };
}

// Returns a function to compute the interquartile range.
function iqr(k) {
  return function(d, i) {
    var q1 = d.quartiles[0],
        q3 = d.quartiles[2],
        iqr = (q3 - q1) * k,
        i = -1,
        j = d.length;
    while (d[++i] < q1 - iqr);
    while (d[--j] > q3 + iqr);
    return [i, j];
  };
}

</script>


<!-- Dropdown  -->

  <a href="#" data-dropdown="drop1" class="tiny success radius button dropdown">Choose a Team</a><br>
      <ul id="drop1" data-dropdown-content class="f-dropdown">
        <li id="Seattle_Seahawks">Seattle Seahawks</li>
        <li id="Atlanta_Falcons">Atlanta Falcons</li>
        <li id="Chicago_Bears">Chicago Bears</li>
        <li id="Houston_Texans">Houston Texans</li>
        <li id="Kansas_City_Chiefs">Kansas City Chiefs</li>
        <li id="Miami_Dolphins">Miami Dolphins</li>
        <li id="New_York_Jets">New York Jets</li>
        <li id="Philadelphia_Eagles">Philadelphia Eagles</li>
        <li id="Pittsburgh_Steelers">Pittsburgh Steelers</li>
        <li id="St._Louis_Rams">St. Louis Rams</li>
        <li id="Baltimore_Ravens">Baltimore Ravens</li>
        <li id="Dallas_Cowboys">Dallas Cowboys</li>
        <li id="Tampa_Bay_Buccaneers">Tampa Bay Buccaneers</li>
        <li id="Denver_Broncos">Denver Broncos</li>
        <li id="Arizona_Cardinals">Arizona Cardinals</li>
        <li id="Detroit_Lions">Detroit Lions</li>
        <li id="Buffalo_Bills">Buffalo Bills</li>
        <li id="Carolina_Panthers">Carolina Panthers</li>
        <li id="Cincinnati_Bengals">Cincinnati Bengals</li>
        <li id="Cleveland_Browns">Cleveland Browns</li>
        <li id="Minnesota_Vikings">Minnesota Vikings</li>
        <li id="New_York_Giants">New York Giants</li>
        <li id="Tennessee_Titans">Tennessee Titans</li>
        <li id="Washington_Redskins">Washington Redskins</li>
        <li id="San_Diego_Chargers">San Diego Chargers</li>
        <li id="Green_Bay_Packers">Green Bay Packers</li>
        <li id="Oakland_Raiders">Oakland Raiders</li>
        <li id="San_Francisco_49ers">San Francisco 49ers</li>
        <li id="Indianapolis_Colts">Indianapolis Colts</li>
        <li id="Jacksonville_Jaguars">Jacksonville Jaguars</li>
        <li id="New_Orleans_Saints">New Orleans Saints</li>
        <li id="New_England_Patriots">New England Patriots</li>
      </ul>


<%= render 'calendar' %>



<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

<script type="text/javascript">

  $( function() {

    $( '#cd-dropdown' ).dropdown( {
      gutter : 0,
      stack : false,
      delay : 100,
      slidingIn : 100
    } );

  });

</script>


<script type="text/javascript">
    var footballs = <%= @footballs.to_json.html_safe %>
</script>

<script type="text/javascript">

</script>

<%= stylesheet_link_tag('application', :media => 'all') %>
<%= javascript_include_tag "application" %>
