<h4>Listing footballs</h4>

<!-- Dropdown  -->

  <a href="#" data-dropdown="drop1" class="tiny radius button dropdown">Choose a Team</a><br>
      <ul id="drop1" data-dropdown-content class="f-dropdown">
        <li id="Seattle_Seahawks">Seattle Seahawks</li>
        <li id="Atlanta_Falcons">Atlanta Falcons</li>
        <li id="Chicago_Bears">Chicago Bears</li>
        <li id="Houston_Texans">Houston Texans</li>
        <li id="Kansas_City_Chiefs">Kansas City Chiefs</li>
        <li id="Miami_Dolphins">Miami Dolphins</li>
        <li id="New_York_Jets">New York Jets</li>
        <li id="Philadelphia_Eagles">Philadelphia Eagles</li>
        <li id="Pittsburgh_Steelers">Pittsburgh Steelers</li>
        <li id="St._Louis_Rams">St. Louis Rams</li>
        <li id="Baltimore_Ravens">Baltimore Ravens</li>
        <li id="Dallas_Cowboys">Dallas Cowboys</li>
        <li id="Tampa_Bay_Buccaneers">Tampa Bay Buccaneers</li>
        <li id="Denver_Broncos">Denver Broncos</li>
        <li id="Arizona_Cardinals">Arizona Cardinals</li>
        <li id="Detroit_Lions">Detroit Lions</li>
        <li id="Buffalo_Bills">Buffalo Bills</li>
        <li id="Carolina_Panthers">Carolina Panthers</li>
        <li id="Cincinnati_Bengals">Cincinnati Bengals</li>
        <li id="Cleveland_Browns">Cleveland Browns</li>
        <li id="Minnesota_Vikings">Minnesota Vikings</li>
        <li id="New_York_Giants">New York Giants</li>
        <li id="Tennessee_Titans">Tennessee Titans</li>
        <li id="Washington_Redskins">Washington Redskins</li>
        <li id="San_Diego_Chargers">San Diego Chargers</li>
        <li id="Green_Bay_Packers">Green Bay Packers</li>
        <li id="Oakland_Raiders">Oakland Raiders</li>
        <li id="San_Francisco_49ers">San Francisco 49ers</li>
        <li id="Indianapolis_Colts">Indianapolis Colts</li>
        <li id="Jacksonville_Jaguars">Jacksonville Jaguars</li>
        <li id="New_Orleans_Saints">New Orleans Saints</li>
        <li id="New_England_Patriots">New England Patriots</li>
      </ul>



<%= render 'calendar' %>

<p id="Seattle_Seahawks">Seattle</p>
<br>
<br>
<p id="New_York_Giants"> NYG </p>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

<script type="text/javascript">
    var footballs = <%= @footballs.to_json.html_safe %>
</script>

<script type="text/javascript">
</script>

<%= stylesheet_link_tag('application', :media => 'all') %>
<%= javascript_include_tag "application" %>
