<!-- <h4>Listing footballs</h4> -->

<!-- Dropdown  -->

  <a href="#" data-dropdown="drop1" class="tiny radius button dropdown">FOOTBALL TEAMS</a><br>
      <ul id="drop1" data-dropdown-content class="f-dropdown">
        <li id="Seattle_Seahawks" class="dropdown_styles">Seattle Seahawks</li>
        <li id="Atlanta_Falcons" class="dropdown_styles">Atlanta Falcons</li>
        <li id="Chicago_Bears" class="dropdown_styles">Chicago Bears</li>
        <li id="Houston_Texans" class="dropdown_styles">Houston Texans</li>
        <li id="Kansas_City_Chiefs" class="dropdown_styles">Kansas City Chiefs</li>
        <li id="Miami_Dolphins" class="dropdown_styles">Miami Dolphins</li>
        <li id="New_York_Jets" class="dropdown_styles">New York Jets</li>
        <li id="Philadelphia_Eagles" class="dropdown_styles">Philadelphia Eagles</li>
        <li id="Pittsburgh_Steelers" class="dropdown_styles">Pittsburgh Steelers</li>
        <li id="St._Louis_Rams" class="dropdown_styles">St. Louis Rams</li>
        <li id="Baltimore_Ravens" class="dropdown_styles">Baltimore Ravens</li>
        <li id="Dallas_Cowboys" class="dropdown_styles">Dallas Cowboys</li>
        <li id="Tampa_Bay_Buccaneers" class="dropdown_styles">Tampa Bay Buccaneers</li>
        <li id="Denver_Broncos" class="dropdown_styles">Denver Broncos</li>
        <li id="Arizona_Cardinals" class="dropdown_styles">Arizona Cardinals</li>
        <li id="Detroit_Lions" class="dropdown_styles">Detroit Lions</li>
        <li id="Buffalo_Bills" class="dropdown_styles">Buffalo Bills</li>
        <li id="Carolina_Panthers" class="dropdown_styles">Carolina Panthers</li>
        <li id="Cincinnati_Bengals" class="dropdown_styles">Cincinnati Bengals</li>
        <li id="Cleveland_Browns" class="dropdown_styles">Cleveland Browns</li>
        <li id="Minnesota_Vikings" class="dropdown_styles">Minnesota Vikings</li>
        <li id="New_York_Giants" class="dropdown_styles">New York Giants</li>
        <li id="Tennessee_Titans" class="dropdown_styles">Tennessee Titans</li>
        <li id="Washington_Redskins" class="dropdown_styles">Washington Redskins</li>
        <li id="San_Diego_Chargers" class="dropdown_styles">San Diego Chargers</li>
        <li id="Green_Bay_Packers" class="dropdown_styles">Green Bay Packers</li>
        <li id="Oakland_Raiders" class="dropdown_styles">Oakland Raiders</li>
        <li id="San_Francisco_49ers" class="dropdown_styles">San Francisco 49ers</li>
        <li id="Indianapolis_Colts" class="dropdown_styles">Indianapolis Colts</li>
        <li id="Jacksonville_Jaguars" class="dropdown_styles">Jacksonville Jaguars</li>
        <li id="New_Orleans_Saints" class="dropdown_styles">New Orleans Saints</li>
        <li id="New_England_Patriots" class="dropdown_styles">New England Patriots</li>
      </ul>



<%= render 'calendar' %>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

<script type="text/javascript">
    var footballs = <%= @footballs.to_json.html_safe %>
</script>

<script type="text/javascript">
</script>

<%= stylesheet_link_tag('application', :media => 'all') %>
<%= javascript_include_tag "application" %>
