<div id="weather-list">
</div>

<script>
$(document).ready(function() {
  var path = window.location.pathname;
  id = path.split("/").pop();
    checkWeatherCache(id);
  });
</script>
<script id="weatherTemplate" type="text/template">

<%= render "weather" %>

</script>
