<div class="bkgd_image_light">
  <div id="weather-list">
  </div>
</div>

<script>
$(document).ready(function() {
  var path = window.location.pathname;
  id = path.split("/").pop();
  checkWeatherCache(path);
});
</script>
<script id="weatherTemplate" type="text/template">

<%= render "weather" %>

</script>
