<h1>min temp array: <%%= min_temp_array %></h1>
<h1>mean temp array: <%%= mean_temp_array %></h1>
<h1>max temp array: <%%= max_temp_array %></h1>
<h1>min wind array: <%%= min_wind_array %></h1>
<h1>min wind array: <%%= mean_wind_array %></h1>
<h1>min wind array: <%%= max_wind_array %></h1>
<h1>cloud cover string: <%%= cloud_cover_array %></h1>
<h1>humidity string: <%%= humidity_array %></h1>
<h1>precipiation string: <%%= precip_array %></h1>
