<h4>Listing baseballs</h4>

  <a href="#" data-dropdown="drop1" class="tiny radius button dropdown">Dropdown Button</a><br>
      <ul id="drop1" data-dropdown-content class="f-dropdown">
        <li id="Orioles">Orioles</li>
        <li id="AL_All_Stars">Al All-Stars</li>
        <li id="Red_Sox">Red Sox</li>
        <li id="White Sox">White Sox</li>
        <li id="Indians">Indians</li>
        <li id="Tigers">Tigers</li>
        <li id="Astros">Astros</li>
        <li id="Royals">Royals</li>
        <li id="Angels">Angels</li>
        <li id="Twins">Twins</li>
        <li id="Yankees">Yankees</li>
        <li id="Athletics">Athletics</li>
        <li id="Mariners">Mariners</li>
        <li id="Rays">Rays</li>
        <li id="Rangers">Rangers</li>
        <li id="Blue Jays">Blue Jays</li>
        <li id="Cubs">Cubs</li>
        <li id="D-backs">D-backs</li>
        <li id="Cubs">Cubs</li>
        <li id="Reds">Reds</li>
        <li id="Rockies">Rockies</li>
        <li id="Dodgers">Dodgers</li>
        <li id="Marlins">Marlins</li>
        <li id="Brewers">Brewers</li>
        <li id="Mets">Mets</li>
        <li id="Phillies">Phillies</li>
        <li id="Pirates">Pirates</li>
        <li id="Padres">Padres</li>
        <li id="Giants">Giants</li>
        <li id="Cardinals">Cardinals</li>
        <li id="Nationals">Nationals</li>
      </ul>


<%= render 'calendar' %>


<br>
<script type="text/javascript">
  var baseballs = <%= @baseballs.to_json.html_safe %>
</script>


<!-- linking to all css and js in the asset pipeline. it only works here and not in the laypout/app.html.erb ?  -->
<%= stylesheet_link_tag('application', :media => 'all') %>
<%= javascript_include_tag "application" %>

