<%= link_to 'Back', baseballs_path %>

<div class="bkgd_image_dark">
  <div id="weather-list">
  </div>
</div>

  <script>
  $(document).ready(function() {
  var path = window.location.pathname;
  checkWeatherCache(path);

});
</script>
<script id="weatherTemplate" type="text/template">

<%= render "weather" %>

</script>
