
<%= link_to 'Back', baseballs_path %>

<div id="weather-list">
</div>

<script>
$(document).ready(function() {
  var path = window.location.pathname;
  checkWeatherCache(path);
});
</script>
<script id="weatherTemplate" type="text/template">

<%= render "weather" %>

</script>
