
<div class="sports_button">
    <a href="#" data-dropdown="drop1" class="tiny radius button dropdown">choose a SPORT</a><br>
      <ul id="drop1" class="f-dropdown" data-dropdown-content class="dropdown_styles">
        <li class="sport" id="baseball">BASEBALL</li>
         <li class="sport" id="football">FOOTBALL</li>
      </ul>
</div>

<div class="teams_button">
    <a href="#" data-dropdown="drop2" class="tiny radius button disabled">choose a SPORT</a><br>
      <ul id="drop2" data-dropdown-content class="dropdown_styles">
    </ul>
</div>

<%= render "calendar" %>

<script type="text/javascript">
    var user = <%= @current_user.to_json.html_safe %>
</script>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<%= stylesheet_link_tag('application', :media => 'all') %>
<%= javascript_include_tag "application" %>

