@font-face {
  font-family: 'fontawesome-selected';
  src: asset-url("fontawesome-selected.eot");
  src: asset-url("fontawesome-selected.eot?#iefix") format('embedded-opentype'),
          asset-url("fontawesome-selected.woff") format('woff'),
          asset-url("fontawesome-selected.ttf") format('truetype'),
          asset-url("fontawesome-selected.svg#fontawesome-selected") format('svg');
  font-weight: normal;
  font-style: normal;
}

/*@font-face {
  font-family: 'icomoon';
  src: asset-url('icomoon.eot');
  src: asset-url('icomoon.eot?#iefix') format('embedded-opentype'),
    asset - url('icomoon.svg#icomoon') format('svg'),
    asset - url('icomoon.woff') format('woff'),
    asset - url('icomoon.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}*/
