@font-face {
  font-family: 'fontawesome-selected';
  src: asset-url("fontawesome-selected.eot");
  src: asset-url("fontawesome-selected.eot?#iefix") format('embedded-opentype'),
          asset-url("fontawesome-selected.woff") format('woff'),
          asset-url("fontawesome-selected.ttf") format('truetype'),
          asset-url("fontawesome-selected.svg#fontawesome-selected") format('svg');
  font-weight: normal;
  font-style: normal;
}
