// Place all the styles related to the Footballs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//For d3 box plot begins:
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.box {
  font: 10px sans-serif;
}

.box line{
  stroke: #7AAEE8;
}

.box rect,
.box circle {
  fill: #CDDBFF;
  stroke: #000;
  stroke-width: 1.5px;
}

.box .center {
  stroke-dasharray: 3,3;
}

.box .outlier {
  fill: none;
  stroke: #ccc;
}
//For d3 box plot ends

//For d3 axis begins:

.axis path,
.axis line {
  fill: none;
  stroke: #fff;
  shape-rendering: crispEdges;
}

.y.axis path {
  display: none;
}

.y.axis line {
  stroke: #fff;
  stroke-dasharray: 2,2;
}
//For d3 axis ends
