body {
  background-color: RGBA(39, 40, 34, .85);
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

h1, h2, h3, h4, h5 h6 {
  color: RGBA(232, 232, 232, 1);
}

p, ol, ul, td, {
  font-family: "Helvetica Neue", verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

ul, li {
  color: #fff;
  letter-spacing: 0.0725em;
  text-transform: capitalize;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;
  &:visited {
    color: #fff;
  }
  &:hover {
    color: #fff;
    background-color: #000;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}

.dropdown_styles {
  color: #fff;
  padding: 5px 0px 5px 25px;
  text-transform: capitalize;
}

.bkgd_image {
  width: 100%;
  height: 100%;
  background: url(bkgd_blur.jpg) fixed no-repeat;
  background-size: cover;
  z-index: -10;
  position: relative;
}

.bkgd_image_dark {
  width: 100%;
  height: 100%;
  background: url(bkgd_blur_dark.jpg) fixed no-repeat;
  background-size: cover;
  z-index: -2000;
}

.logo {
  width: 40%;
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 20px;
  margin: auto;
}

.small_logo {
  width: 100%;
  margin-top: 14px;
  margin-left: 10px;
  left: 0;
  right: 0;
}

.sports_button {
  position: absolute;
  top: 10px;
  left: 150px;
}

.teams_button {
  position: absolute;
  top: 10px;
  left: 340px;
}

.disabled {
  color: black;
  background-color: black;
}

.disabled:hover {
  color: default;
  background-color: default;
}

